body {
    background-color: lightgreen;
}

h1 {
    color: navy;
}
h2 {
  color: navy;
}

#disclamer {
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    background-color: orange;
    padding: 10px;
    display: inline-block;
}
#bigheading {
  font-size: 50px
}

#htmlexample {
    font-family: monospace;
    font-size:16px;
    color: red;
}

.headertypes{
    color: purple;
}
